/* Colors and fonts*/
body {
background: rgb(240,239,235);
 color: rgb(50, 50, 50);
 font-family: 'Lora', serif;
 font-size: 17px;
}
h1, h2{
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #3D405B;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #3D405B;
  font-size: 19px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #E07A5F;
  font-weight: 500;
  font-size: 16px;
}
a:hover {
	color: rgb(158,42,43)
}



/* Custom design with class ( 90% of your design)*/
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
 .container {
 	width: 600px;
  }
}

@media (max-width: 500px) {
 .container {
 	width: 400px;
  }
}



.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1.0);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #E07A5F;
	color:  #9e2a2b;
	padding: 14px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
   background-color: #9e2a2b;
   color:  #E07A5F;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
}

/* Design adjustments using id (1% design remaining)*/ 
#introduction p {
  margin-bottom: 40px;
}


